
      <div class="header clearfix">
               <h3 class="text-muted">Account Activation</h3>
              
      </div>

     
      

            <br>
  <div class="row show-hide-message col-md-6" ng-show="email.success_msg">
        
        <div class="alert alert-success"> {{email.success_msg}}</div>
      </div>
      </br>

       <div class="row show-hide-message col-md-6" ng-show="email.error_msg">
        
        <div class="alert alert-danger"> {{email.error_msg}}</div>
      </div>

      </br>
      <footer class="footer">
        <p>&copy; 2017 Contact List App, Inc.</p>



