<!--
      <div class="header clearfix">
               <h3 class="text-muted">Account Activation</h3>
              
      </div>

     
      

            <br>
  <div class="row show-hide-message col-md-6 col-md-offset-2" ng-show="success_msg">
        
        <div class="alert alert-success"> {{success_msg}}</div>
      </div>
      </br>

       <div class="row show-hide-message col-md-6 col-md-offset-2" ng-show="error_msg">
        
        <div class="alert alert-danger"> {{error_msg}}</div>
      </div>

      </br>
      <footer class="footer">
        <p>&copy; 2017 Contact List App, Inc.</p>
      </footer>
-->


<h3>Account Activation</h3>