<br>

      <div class="row" ng-show="main.displayNone">
      {{main.nodata}}<a href="/contact">Click here</a> to add contacts.
      </div>
      <div class="row" ng-hide="main.displayNone">
          <div class="col-md-3 col-xs-3" 
          <!-- For lisiting contacts at left pane -->
          <a href="#" class="list-group-item active"> All Contacts <span class="badge">{{main.contactlist.length}}</span></a>
          
          <input type="text" class="form-control" name="search" ng-model='main.search.name' placeholder="search">
          <div class = "list-item" ng-repeat ="contact in main.contactlist |orderBy:'name' |filter:{name:main.search.name} as contactfilter">
         
          <a href="#" ng-click="main.selectContact(contact,$index)" class="list-group-item" ng-class="{'selected':$first}" id={{contact._id}}>
            <img class="img-circle" src="images/{{contact.imageProfile}}" width="30px" height="30px" >&nbsp;&nbsp;

           {{contact.name}}</a>

          </div>
          </div>
          <!-- End Div col-md-3-->
          <div class="col-md-6 col-xs-6" >
          <form name='editForm' class='form' ng-submit='main.editContact(contact)' novalidate>
          <!-- For displaying contact details at right pane-->
         <h3> <span class="label label-default"><i class="fa fa-address-card" aria-hidden="true"></i>
          &nbsp;Contact Details: </span> 
          <span ng-hide='main.editmode' class="btn btn-default pull-right" ng-click="main.toggleEditMode()"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit</span>
          <button type="submit" ng-show='main.editmode' class="btn btn-default pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i></i>&nbsp;Save</button>





          </h3> 
          
            <table class="table">
              <tr>
              <td>
                <div class="media">
                  <div class = "media-left">
                      <a href="#">
                      <img data-toggle="modal" data-target="#imgModal" class = "media-object" src="images/{{main.contact.imageProfile}}" width="75px" height="75px" >
                      </a>  
                  </div>

                  <div class = "media-body">
                     <h4 ng-hide='main.editmode' class="media-heading">{{main.contact.name}}</h4>

                     <div class="form-group" ng-show='main.editmode'>
                     <label>Name </label>
                     <input  type="text" name="name" class='form-control' ng-model='main.contact.name' ng-value='main.contact.name'>

                     </div>
                     <p ng-hide='main.editmode' class="muted">{{main.contact.number}}</p>


                  </div>
                </div>  
              </td>
              </tr>

            </table> 

            <table class="table">
              <tr><td colspan="2"><h4><i class="fa fa-envelope" aria-hidden="true"></i>
                &nbsp;Email</h4></td></tr>
              <tr>
                <td>
                <span ng-hide='main.editmode' data-toggle="modal" data-target="#emailModal" class="text text-primary" style="cursor: pointer;"> {{main.contact.email}}</span>
                <div class="form-group" ng-show='main.editmode'>
                   
                     <input  type="text" name="email" class='form-control' ng-model='main.contact.email' ng-value='main.contact.email'>

                 </div>

              </td>
              </tr>
              <tr><td colspan="2"> <h4> <i class="fa fa-phone" aria-hidden="true"></i>
                &nbsp;Phone Numbers</h4> </td></tr>
              <tr>
                <td>
                  <span class="muted"> Primary  </span> 
                </td> 
                <td>
                  <span class="muted"> Alternate </span>
                </td>
              </tr>

               <tr><td>
                <span class="text text-primary" ng-hide='main.editmode' data-toggle="modal" data-target="#smsModal" style="cursor: pointer;"">{{main.contact.number}} </span>
                 <div class="form-group" ng-show='main.editmode'>
                   
                     <input  type="text" name="number" class='form-control' ng-model='main.contact.number' ng-value='main.contact.number'>

                     </div>
               </td> 

               <td>
               <span class="text text-muted " ng-hide='main.editmode' ng-click="main.smsError()" style="cursor: pointer;"">{{main.contact.altnumber}} </span>
               <div class="form-group" ng-show='main.editmode'>
                  
                     <input  type="text" name="altnumber" class='form-control' ng-model='main.contact.altnumber' ng-value='main.contact.altnumber'>

                     </div>

               </td>
              </tr>
               <tr><td colspan="2"> <h4><i class="fa fa-address-card" aria-hidden="true"></i>

                &nbsp;Address</h4> </td></tr>
              <tr>
                <td>
                  <span class="muted" ng-hide='main.editmode'> {{main.contact.address}} </span>
                  <div class="form-group" ng-show='main.editmode'>
                   
                     <textarea name="address" class='form-control' ng-model='main.contact.address'>{{main.contact.address}}  </textarea>  

                     </div>
                </td> 
                </tr>
            </table>
            </form>
  </br>

       <div class="row show-hide-message col-md-8" ng-show="main.error_msg">
        
        <div class="alert alert-danger"> {{main.error_msg}}</div>
        </div>
        <div class="row show-hide-message col-md-8" ng-show="main.success_msg">
        
        <div class="alert alert-success"> {{main.success_msg}}</div>
        </div>


  <!-- Edit imgModal -->
  <div class="modal fade" id="imgModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Photo - {{main.contact.name}}</h4>
        </div>
        <div class="modal-body">
         <p>
       
       <input type="file" name="photo" file-model="main.myFile._id" id="file">
         <button type="submit" class="btn btn-primary pull-right" ng-click="main.submit()"><i class="fa fa-upload" aria-hidden="true"></i>
&nbsp;Upload</button>
         
         </p>
         <br>
        </div>
        
      </div>

    </div>
  </div>

  <!--End imgModal-->


  <!-- Edit Email Modal -->
  <div class="modal fade" id="emailModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send email to {{main.contact.name}}</h4>
        </div>
        <div class="modal-body">
        <form name='emailForm' class="form" ng-submit = "main.sendEmail(email,contact)" novalidate>
         <div class="form-group">
         <label>To</label>
         <input type="text" class="form-control"  name="to" ng-model="main.email.to" ng-value="main.contact.email">
        </div>
        <div class="form-group">
        <label>Subject</label>
        <input type="text" class="form-control" name="sub" ng-model="main.email.sub">
        </div>
        <div class="form-group">

            <textarea name="sub" ng-model="main.email.body" placeholder="Enter text here" rows="10" class="form-control "></textarea>
          </div>
         
          <p>
         <button type="submit" class="btn btn-primary pull-right"><i class="fa fa-paper-plane" aria-hidden="true"></i>
        &nbsp;Send</button>
         </p>
         </br>
         </form>
         <br>
        </div>
        
      </div>

    </div>
  </div>

  <!--End Email Modal-->

 


   <!--SMS modal-->

   <div class="modal fade" id="smsModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Send SMS to {{main.contact.name}} <h4> <small>{{main.contact.number}}</small>&nbsp;&nbsp;<span ng-show="main.sentMessage">SMS sent &nbsp;<i class="fa fa-check-square-o" aria-hidden="true" style="color:green;"></i></h4>
        </div>
        <div class="modal-body">
         <p>
          <form name="smsform" class="form" novalidate>
          <div class="form-group">
          <label>Compose <span class="glyphicon glyphicon-edit"></span></label>
          
          <textarea rows="10" class="form-control" name="sms" cols="50" ng-model = "main.contact.sms" rows="10" cols="50"> </textarea>
          </div>
          <button type="button" name="sendsms" class="btn btn-info pull-right"  ng-click="main.sendSMS(contact);"> <i class="fa fa-paper-plane-o" aria-hidden="true"></i>&nbsp; Send</button>
         </form>
         </p>
         <br>
         </br>
        </div>
      
      </div>

    </div>
  </div>
          </div>
          <!-- End Div col-md-9-->
      </div>
